/*
Author: Vishwakranti Suryawanshi
Theme: kiwi foodmart Admin;
version: 1.o;
*/
body {
    background-image: url('../../images/Background_image.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
padding: 1%;
width: 80%;
margin: 0 auto;
}

.text-center{
text-align: center ;
}
.clearfix{
    float: none;
    clear: both;
}

.tbl-full{
    width: 100%;
}
.tbl-30{
    width: 30%;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}
table tr td{
    padding: 1%;
}
.btn-primary{
    background-color:blue;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    
}
.btn-primary:hover{
    background-color: turquoise;
}
.btn-secondary{
    background-color:#D980FA;
    padding: 1%;
    color:black;
    text-decoration: none;
    font-weight: bold;
    
}
.btn-secondary:hover{
    background-color: turquoise;
}
.btn-danger{
    background-color:#EA2027;
    padding: 1%;
    color:black;
    text-decoration: none;
    font-weight: bold;
    
}
.btn-danger:hover{
    background-color: turquoise;
}
.success{
    color: :cadetblue;
}
.error{
    color: chartreuse;
}
/* css for Menu */
.menu{
    border-bottom: 1% solid grey;
}
.menu{
    text-align: center;
}
.menu ul{
    list-style-type: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color:7d5fff;
    
}
.menu ul li a:hover{
    color: cyan;
}
/* css for Main Content Menu */
.main content{
    margin: 1% 0;
    background-color: grey;
    padding: 3% 0;
} 
.col-4{
    width: 10%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;
}
/* for Order Section */
.order{
    width: 50%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}

/* css for footer */
.footer{
    background-color:#12CBC4;
    color: white;
}
/* css for Login */
.login{
    border: 1px solid grey; 
    width: 30%;
    margin: 10% auto;
    padding: 1%;
}